.container-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 150px;
    font-size: var(--font-size);
    margin-top: 1rem;
}