/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}


/* 
    Styles basic
*/

:root {
    /* 
        Colors
    */
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    /* --color-grayish-blue-opacity: hsla(220, 15%, 55%, .5); */
    --color-shadow: rgba(100, 100, 100, .3);
    --color-dark-blue: hsl(218, 44%, 22%);
    /* Letter */
    --font-size: 15px;
    --font-weight1: 400;
    --font-weight2: 700;
}

@font-face {
    font-family: 'Outfit';
    src: url('/assets/font/Outfit-VariableFont_wght.ttf');
}